---
import '@fontsource/roboto';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cards</title>
	</head>
	<body>
		<h1>Cards</h1>
		<div>
			<div>
				<input id="connect-in" />
				<button id="connect-btn">Connect</button>
			</div>
			<button id="serve-btn">Serve</button>
			<pre id="output"></pre>
		</div>
	</body>
</html>

<style>
	html {
		font-family: 'Roboto';
	}
	h1 {
		margin-left: auto;
		margin-right: auto;
	}
	#output {
		font-family: monospace;
		border: 1px solid black;
		border-radius: .25rem;
		padding: 1rem;

		max-height: 100%;
		overflow: scroll;
	}
</style>

<script>
	import { main } from "./index";
	await main();
</script>